@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
.poppin {
  font-family: var(--font-poppins);
}
/* Add these styles to your CSS stylesheet */
.timeline-container {
  display: flex;
  overflow-x: auto;
  padding-bottom: 20px;
}

.timeline-card {
  flex-shrink: 0;
  width: 300px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.timeline-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.timeline-card p {
  margin: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}
